REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

AMQP_URL=amqp://guest:guest@rabbitmq-host:5672/%2F

CLICKHOUSE_HOST=your-clickhouse-host
DB_USER=default
DB_PASS=
DB_DATABASE=default

MAX_OPERATION_TIME=24
STALE_CHECK_INTERVAL=300
MAX_REASONABLE_DURATION=240
AFTER_HOURS_OPERATION_CHECK=30
